body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 120%;
    line-height: 1.5;
    background: linear-gradient(180deg, #f8e8a6, #c49b63);
}
header img {
   width: 10%;
}

main p {
    width: 70%; /* Restrict width for better readability */
    margin: auto; /* Centers the block */
    background-color: #f9f9f9; /* Light gray background */
    padding: auto;
    border-radius: 10px; /* Rounded edges */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    font-style:italic;
    border-left: 4px solid gray;/* Blue left border for quote effect */
    padding: 15px 20px;
    margin-bottom: 25px;
   
}
